<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%d{HH:mm:ss}] %-5p %c - %m%n</Pattern>
    </layout>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>${user.home}/stripesquick.log</File>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%d{HH:mm:ss}] %-5p %c - %m%n</Pattern>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${user.home}/stripesquick.log.%d{yyyy-MM-dd}</FileNamePattern>
    </rollingPolicy>
  </appender>
  <logger name="org" level="WARN"/>
  <logger name="net.sourceforge.stripes" level="WARN"/>
  <logger name="com" level="WARN"/>
  <logger name="org.stripesbook.quickstart" level="INFO"/>
  <logger name="se.avegagroup" level="DEBUG"/>
  <logger name="net" level="WARN"/>
  <logger name="org.mortbay.log" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>
